<%- include ("./partials/header") %>
<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
            <h1 ><%= title %></h1>
            <p class="mb-4">Welcome to ally's <%= title %></p>
            <ul>
                        <li>
                                    <a href="/groups">Go to groups</a>
                        </li>
            </ul>

</div>
<%- include ("./partials/footer") %>